@media (max-width: $desktop-width) {
  .burger-menu {
    &._close {
      padding: 30px 45px 31px;
      background: $secondary-color;

      .burger-menu__logo {
        svg {
          fill: $accent-color;
        }
      }

      .burger-menu__toggle {
        margin: 0;

        &::before {
          background: $primary-color;
          box-shadow:
            0 8px 0 0 $primary-color,
            0 -8px 0 0 $primary-color;
        }
      }

      .burger-menu__cart {
        svg {
          stroke: $primary-color;
        }
      }

      .burger-menu__block {
        display: none;
      }
    }

    &._open {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 105vh;
      box-sizing: border-box;
      min-height: 127px;
      margin: 0;
      padding: 30px 45px 31px;
      background: $accent-color;
      overflow: auto;
      z-index: 5;

      .burger-menu__menu-wrapper {
        a {
          &:focus {
            outline: 1px dashed $secondary-color;
          }
        }
      }

      .burger-menu__cart {
        top: 55px;
      }
    }
  }

  .burger-menu__toggle {
    &:focus {
      outline: 2px dashed $secondary-color;
    }
  }
}

@media (max-width: $tablet-width) {
  .burger-menu {
    &._close {
      padding: 20px 15px;
    }

    &._open {
      min-height: 92px;
      padding: 20px 0;

      .burger-menu__menu-wrapper {
        padding: 20px 15px 45px;
      }

      .burger-menu__cart {
        top: 37px;
      }
    }
  }
}
