.catalog-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 77px;
}

.catalog-main__filter {

}

.catalog-main__products {

}

@media (max-width: $desktop-width) {
  .catalog-main {
    flex-direction: column;
  }
}

@media (max-width: $tablet-width) {
  .catalog-main {
    margin: 0 auto 66px;
  }
}
