.faq {
  margin: 0 0 114px;
}

.faq__title {
  margin: 0 0 23px;
}

.faq__wrapper {
  @include resetListDefaultProperties;
  display: flex;
  flex-direction: column;
  max-width: 1070px;
  margin: auto;
  padding: 0 50px;
}

.faq__item {
  padding: 44px 50px 40px 40px;
  border: 1px solid $accent-color;

  p {
    margin: 0;
    padding: 0 350px 0 10px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }

  &:focus {
    outline: 1px dashed $accent-color;
  }

  &:hover {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--closed {
    p {
      display: none;
    }

    .faq__question {
      margin: 0;

      h3 {
        margin: 0;
      }

      &::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid $accent-color;
        border-left: 1px solid $accent-color;
      }
    }
  }
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 9px;
  cursor: pointer;

  h3 {
    margin: 0;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
    transform: rotate(-45deg)
  }
}

@media (max-width: $desktop-width) {
  .faq {
    margin: 0 0 75px;
  }

  .faq__title {
    margin: 0 0 35px;
    padding: 0;
  }

  .faq__wrapper {
    max-width: 100%;
    padding: 0 45px;
  }

  .faq__item {
    padding: 44px 53px 43px 50px;

    h3 {
      margin: 0 0 10px;
    }

    p {
      padding: 0;
    }

    &--closed {
      h3 {
        margin: 0;
      }

      .faq__question {
        h3 {
          padding: 0 5px 0 0;
        }

        &::after {
          align-self: flex-start;
        }
      }
    }
  }

  .faq__question {
    margin: 0 0 15px;

    &::after {
      width: 17px;
      height: 17px;
    }
  }
}

@media (max-width: $tablet-width) {
  .faq {
    margin: 0 0 45px;
  }

  .faq__title {
    margin: 0;
  }

  .faq__wrapper {
    padding: 15px;
  }

  .faq__item {
    padding: 16px 25px 20px;

    p {
      max-width: 87%;
      padding: 0;
      font-family: "Poppins";
      font-size: 14px;
      line-height: 20px;
    }

    &--closed {
      .faq__question {
        align-items: flex-start;

        h3 {
          margin: 0;
        }

        &::after {
          margin: 0 0 5px;
        }
      }
    }
  }

  .faq__question {
    h3 {
      max-width: 78%;
      margin: 0;
      font-family: "Poppins";
      font-size: 16px;
      line-height: 22px;
    }

  }
}
