.gallery {
  margin: 0 0 114px;
}

.gallery__title {
  margin: 0 0 50px;

  &>span {
    display: flex;
    justify-content: center;
    align-items: baseline;

    span {
      margin: 0;
      font-family: "Cormorant Garamond";
      font-size: 42px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.03em;
    }
  }
}

.gallery__main-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.gallery__left-wrapper {
  @include resetListDefaultProperties;
  display: flex;
}

.gallery__right-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  flex-direction: column;
}

.gallery__inner-wrapper {
  @include resetListDefaultProperties;
  display: flex;

  &--vertical {
    flex-direction: column;
  }
}

.gallery__item {
  margin: 17px 13px;

  &--small {
    img {
      width: 230px;
      height: 150px;
    }
  }

  &--medium {
    img {
      width: 230px;
      height: 230px;
    }
  }

  &--large {
    img {
      width: 400px;
      height: 410px;
    }
  }
}

@media (max-width: $desktop-width) {
  .gallery {
    margin: 0 0 68px;
  }

  .gallery__item {
    margin: 10px 8px;

    &--small {
      img {
        width: 133px;
        height: 87px;
      }
    }

    &--medium {
      img {
        width: 133px;
        height: 133px;
      }
    }

    &--large {
      img {
        width: 230px;
        height: 240px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .gallery {
    margin: 0 0 58px;
  }

  .gallery__title {
    margin: 0 0 31px;
  }

  .gallery__inner-wrapper {
    &--in-mobile-hidden {
      display: none;
    }
  }

  .gallery__item {
    margin: 13px 12px;

    &--large {
      img {
        width: 133px;
        height: 247px;
        object-fit: cover;
      }
    }
  }
}
