.gallery {
  margin: 0 0 113px;
}

.gallery__title {
  margin: 0 0 50px;

  &>span {
    display: flex;
    justify-content: center;
    align-items: baseline;

    span {
      margin: 0;
      font-family: "Cormorant Garamond";
      font-size: 42px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.03em;
    }
  }
}

.gallery__main-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: auto;
}

.gallery__left-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  align-items: stretch;
  height: 100%;

}

.gallery__right-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.gallery__inner-wrapper {
  @include resetListDefaultProperties;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &--vertical {
    flex-direction: column;
  }
}

.gallery__item {
  margin: 17px 13px;

  &--small {
    img {
      width: 230px;
      height: auto;
    }
  }

  &--medium {
    img {
      width: 230px;
      height: auto;
    }
  }

  &--large {
    img {
      width: 400px;
      height: auto;
    }
  }
}

@media (max-width: $desktop-width) {
  .gallery {
    margin: 0 0 70px;
    padding: 0 45px;
  }

  .gallery__item {
    margin: 10px 8px;

    &--small {
      img {
        min-width: 133px;
        min-height: 87px;
      }
    }

    &--medium {
      img {
        min-width: 133px;
        min-height: 133px;
      }
    }

    &--large {
      display: flex;
      align-items: center;
      margin: 10px 8px;

      img {
        min-width: 230px;
        min-height: 240px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .gallery {
    margin: 0 0 58px;
    padding: 0 3px;
  }

  .gallery__title {
    margin: 0 0 31px;
  }

  .gallery__main-wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 678px;
    margin: auto;

    &>li {
      width: 100%;
    }
  }

  .gallery__inner-wrapper {
    width: 100%;

    &--in-mobile-hidden {
      display: none;
    }

    &--gorizontal {
      &>li {
        width: 100%;
      }
    }
  }

  .gallery__item {
    margin: 13px 12px;

    &--small {
      img {
        width: 100%;
      }
    }

    &--large {
      img {
        min-width: 133px;
        min-height: 247px;
        object-fit: cover;
      }
    }
  }
}
