.page-footer {
  padding: 90px 95px 70px;
  background: $additional-color-two;
}

.page-footer__wrapper {
  display: flex;
  max-width: 1366px;
  margin: auto;
}

.page-footer__form {
  width: 50%;
}

.page-footer__links-block {
  width: 50%;
}

@media (max-width: $desktop-width) {
  .page-footer {
    padding: 50px 45px 35px;
  }

  .page-footer__wrapper {
    flex-direction: column;
  }

  .page-footer__form {
    width: auto;
    margin: 0 0 20px;
  }

  .page-footer__links-block {
    width: auto;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 50px 15px 20px;
  }
}
