.products {
  position: relative;
}

.products__wrapper {
  @include resetListDefaultProperties;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  margin: 0 auto 35px;
}

.products__slide {
  margin: 0 15px 36px;
}

.products__pagination {
  display: flex;
  justify-content: center;


  span {
    margin: 0 6px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: $additional-color;
    cursor: pointer;
    z-index: 1;

    &:first-child {
      color: $primary-color;
    }

    &:focus {
      outline: 1px dashed $accent-color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
.products__navigation {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 97%;

  button {
    @include resetButtonDefaultProperties;

    &:focus {
      outline: 1px dashed $accent-color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $desktop-width) {
  .products__wrapper {
    max-width: 100%;
    padding: 0 30px;
  }

  .products__slide {
    margin: 0 15px 34px;
  }

  .products__navigation {
    width: 88%;
  }
}

@media (max-width: $tablet-width) {
  .products__slide {
    margin: 0 15px 23px;
  }

  .products__wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 auto 22px;
    padding: 0;
    max-width: 100%;
  }

  .products__navigation {
    display: none;
  }

  .products__pagination {
    span {
      margin: 0 12px;
    }
  }
}
