.slider {
  margin: 0 auto 107px;
  padding: 0 20px;
}

.slider__title {
  margin: 0 0 60px;
}

@media (max-width: $desktop-width) {
  .slider {
    margin: 0 0 60px;
    padding: 0 45px;
  }

  .slider__title {
    margin: 0 0 50px;
  }
}

@media (max-width: $tablet-width) {
  .slider {
    margin: 0 0 45px;
    padding: 0 15px;
  }

  .slider__title {
    margin: 0 0 40px;
  }

  .slider__wrapper {
    margin: 0 0 15px;
  }

  .slider__navigation {
    display: none;
  }

  .slider__pagination {
    span {
      color: $primary-color;
    }
  }

  .slider__bullet {
    display: none;
    cursor: none;


    &--active {
      display: flex;
    }
  }
}
