.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 3s;

  &--big {
    .slide__image-wrapper {
      img {
        max-height: 284px;
      }
    }
  }
}

.slide__image-wrapper {
  margin: 0 0 20px;
  background: $additional-color;

  img {
    width: 270px;
    max-height: 272px;
    height: auto;
  }
}

.slide__description {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 0 7px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }

  span {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
  }
}

@media (max-width: $desktop-width) {
  .slide {
    &--big {
      .slide__image-wrapper {
        img {
          min-width: 324px;
          min-height: 340px;
          height: auto;
        }
      }
    }
  }

  .slide__image-wrapper {
    img {
      max-width: 100%;
      width: 100%;
      min-width: 206px;
      height: auto;
    }
  }
}

@media (max-width: $tablet-width) {
  .slide__image-wrapper {
    margin: 0 0 17px;

    img {
      max-height: 100%;
      min-width: 130px;
      min-height: 136px;
    }
  }

  .slide {
    &--big {
      .slide__image-wrapper {
        img {
          min-width: 130px;
          min-height: 136px;
          width: auto;
          height: auto;
        }
      }
    }
  }
}
