.subscribe-form {
  padding: 0 85px 0 0;

  h3 {
    margin: 0 0 10px;
    font-family: "Cormorant Garamond";
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: $secondary-color;
  }

  p {
    margin: 0 0 35px 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $additional-color;
  }
}

.subscribe-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 9px;
  border-bottom: 1px solid $secondary-color;

  label {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  input {
    width: 100%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: $additional-color;
    border: 0;
    background: transparent;

    &::placeholder {
      color: $additional-color;
    }

    &:focus {
      outline: 1px dashed $secondary-color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    background: transparent;
    border: 0;

    span {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      color: $secondary-color;
    }

    svg {
      width: 29px;
      margin: 0 0 0 15px;
      stroke: $secondary-color;
    }

    &:focus {
      outline: 1px dashed $secondary-color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $desktop-width) {
  .subscribe-form {
    margin: 0 0 45px;
    padding: 0 115px 0 0;

    p {
    margin: 0 0 35px 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .subscribe-form {
    padding: 0;

    h3 {
      margin: 0 0 14px;
      padding: 0 45px 0 0;
    }

    p {
      margin: 0 0 41px;
      padding: 0 45px 0 0;
    }
  }

  .subscribe-form__input-wrapper {
    padding: 0 0 8px;

    button {
      min-width: 110px;
    }
  }
}
