.swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
}

.swiper-wrapper {
  @include resetListDefaultProperties;
  margin: 0 0 50px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 16px;
  margin: 0 5px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $additional-color;
  cursor: pointer;

  &-active {
    color: $primary-color;
  }

  &:focus {
    outline: 1px dashed $accent-color;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.swiper-navigation {
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    &:focus {
      outline: 1px dashed $accent-color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  @include resetButtonDefaultProperties;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  svg {
    width: 29px;
    stroke: $accent-color;
  }

  &::after {
    content: none;
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
  transform: rotate(180deg);
}

@media (max-width: $desktop-width) {
  .swiper {
    width: 100%;
  }

  .swiper-wrapper {
    margin: 0 0 40px;
  }

  .swiper-pagination-bullet {
    margin: 0 3px 0;
  }
}

@media (max-width: $tablet-width) {
  .swiper-wrapper {
    margin: 0 0 30px;
  }

  .swiper-navigation {
    display: none;
  }

  .swiper-pagination-current {
    margin: 0 10px 0 0;
  }
}
