$max-desktop-width: 1920px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

$primary-color: #1d1613;
$secondary-color: #ffffff;
$additional-color: #9b9997;
$additional-color-two: #000000;
$additional-color-three: #c4c4c4;
$additional-color-four: #ebebeb;
$accent-color: #a87b62;
$logo-color-one: #203c42;
$logo-color-two: #788891;
$social-icon-color: #cdcdcd;
$footer-background-color: #fafafa;
